@import url('https://fonts.googleapis.com/css2?family=Geom:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
	--font-geom: 'Geom', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

@layer base{
	body{ font-family: var(--font-geom); }
	h1,h2,h3,h4,h5,h6{ font-family: var(--font-geom); }
}
